div{
  background-color: #0B0B0B;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color: #A5ACBA;
  margin-left: 8%;
}

img{
  width: 3%;
  margin-left: 2%;
}

.vrk{
  width: 8%;
}
