.btn-transparent {
  background-color: transparent;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0%;
  color: white;
}

.btn-transparent::before {
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  /* Color de fondo al pasar el mouse por encima */
  transform: skewX(-45deg);
  transition: right 0.3s ease;
  z-index: -1;
}

.btn-transparent:hover::before {
  right: -8%;
  background-image: linear-gradient(270deg, #3D090B 5%, #ED1C24 50%);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), inset 3px 4px 5px rgba(255, 255, 255, 0.25);
}


#botonlog {
  height: 40%;
  width: 20%;
}
.nav-item{
  margin: 0 10vw 0 0;
}
.navbar-nav {
  width: 100%;
  justify-content: center;
}
.navbar-brand{
  color: white;
}
.container-fluid {
  padding: 0%;
}

.container-fluid img{
  width: 5%;
  margin-left: 8%;
  margin-top: 1%;
}

.nav-link{
  color: white;
}

.nav-link:hover, .nav-link:focus{
  color: white;
  border-bottom: 2px solid #ED1C24;
}
