<div class="contentchallenges">
  <section class="section1">
    <div id="text">
      <h2>DESAFIOS</h2>
      <P>Los desafíos son una oportunidad para mostrar una selección específica de
        NFT que brindan a los coleccionistas la oportunidad de ganar premios
        exclusivos o paquetes.
      </P>
    </div>
    <div class="line"></div>
  </section>
  <section class="section 2">
    <div class="challenge">
      <img class='imgon' src="/assets/images/player.png" alt="" />
      <div id="textbox">
        <h2>JUGADA MILENARIA</h2>
        <p>
          ¡Nada como un buen juego en la cancha ! <br> ¡Echa un vistazo a esta
          increíble anotaciòn de los gallos negros en el desafío de esta noche!
        </p>
        <img class="circles" src="/assets/images/ganadamilenaria.png" alt="">
        <div class="btns">
          <button class="btn btn-gradient rounded-pill">GANAR AHORA</button>
        </div>
        

      </div>      
    </div>
    <div class="challenge">
      <img class='imgon'src="/assets/images/logo.png" alt="" />
      <div id="textbox">
        <h2>FAN NÚMERO 1</h2>
        <p>
          ¡Conviertete en el fanático número 1! <br>
          ¡Siguenos en nuestras redes sociales LFA, comprueba y gana!
        </p>
        <img class="circles" src="/assets/images/fanuno.png" alt="">
        <div class="btns">
          <button class="unlockbtn">unlock</button>
        </div>
        
      </div>
    </div>
    <div class="challenge">
      <img class='imgon'src="/assets/images/player2.png" alt="" />
      <div id="textbox">
        <h2>ASISTENCIA EN VIVO</h2>
        <p>
          ¡Diviertete, apoya a tu equipo favorito asistiendo a un partido de LFA y recibe un NFT por ello !
        </p>
        <img class="circles" src="/assets/images/asistenciaenvivo.png" alt="">
        <div class="btns">
          <button class="unlockbtn">unlock</button>
        </div>
        
      </div>
    </div>
  </section>
</div>