<section class="pt1">
  <div id="text">
    <h2>DESAFIOS</h2>
    <P
      >Los desafíos son una oportunidad para mostrar una selección específica de
      NFT que brindan a los coleccionistas la oportunidad de ganar premios
      exclusivos o paquetes.
    </P>
  </div>
</section>
<section>
  <div class="challenge">
    <div id="image"><img src="/assets/images/player.png" alt="" /></div>
    <div id="text">
      <h2>JUGADA MILENARIA</h2>
      <p>
        ¡Nada como un buen juego en la cancha! ¡Echa un vistazo a esta increíble
        anotaciòn de los gallos negros en el desafío de esta noche!
      </p>
    </div>
  </div>
  <div class="challenge">
    <div id="image"><img src="/assets/images/logo.png" alt="" /></div>
    <div id="text">
      <h2>JUGADA MILENARIA</h2>
      <p>
        ¡Nada como un buen juego en la cancha! ¡Echa un vistazo a esta increíble
        anotaciòn de los gallos negros en el desafío de esta noche!
      </p>
      <button>Ganar ahora</button>
    </div>

  </div>
  <div class="challenge">
    <div id="image"><img src="/assets/images/player2.png" alt="" /></div>
    <div id="text">
      <h2>JUGADA MILENARIA</h2>
      <p>
        ¡Nada como un buen juego en la cancha! ¡Echa un vistazo a esta increíble
        anotaciòn de los gallos negros en el desafío de esta noche!
      </p>
    </div>
  </div>
</section>
