
<div id="marketplace">
  <section class="pt1">
    <div id="inicio">
      <h2>EXPLORE THE MARKETPLACE</h2>
      <!--<input id="search" type="text" />-->
    </div>
  </section>
  <section style="margin-top: 5%;">
    <div id="types">
      <p style="font-size: 250%;">TIPOS DE DROPS</p>
      <div id="drops">
        <div>
          <img src="assets/images/0101.png" alt="" />
          <p>Legendario</p>
          <p>3.07%</p>
        </div>
        <div>
          <img src="assets/images/0202.png" alt="" />
          <p>Raro</p>
          <p>9.74%</p>
        </div>
        <div>
          <img src="assets/images/0303.png" alt="" />
          <p>Fanatico</p>
          <p>25.64%</p>
        </div>
        <div>
          <img src="assets/images/0404.png" alt="" />
          <p>Normal</p>
          <p>61.53%</p>
        </div>
      </div>
    </div>
  </section >
  <section>
    <div id="gallery">
      <button class="btn btn-primary btn-lg active" role="button" arria-pressed="true" (click)="all()">Todos</button>
      <button class="btn btn-primary btn-lg active" role="button" arria-pressed="true" (click)="legendary()">Legendarios</button>
      <button class="btn btn-primary btn-lg active" role="button" arria-pressed="true" (click)="rare()">Raros</button>
      <button class="btn btn-primary btn-lg active" role="button" arria-pressed="true" (click)="fanatic()">Fanatico</button>
      <button class="btn btn-primary btn-lg active" role="button" arria-pressed="true" (click)="normal()">Normal</button>
    </div>
    <div id="dropslist">
      <div class="products raro" *ngIf="showAll || showRare">
        <img src="/assets/images/0101.png" alt="" />
        <div id="desc">
          <p>Raro #/0101</p>
          <h2>LUIS TINOCO</h2>
          <p>Assist - Dec 07 2022, Base set (Series 4), Vortex, CHI</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $1.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.05</span>
          </p>
        </div>
      </div>
      <div class="products normal" *ngIf="showAll || showNormal">
        <img src="/assets/images/0202.png" alt="" />
        <div id="desc">
          <p>Normal #/0202</p>
          <h2>ISAIAH SOMBRITE</h2>
          <p>3 pointer - Jan 30 2021, Base Set (Series 2), POR</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.58</span>
          </p>
        </div>
      </div>
      <div class="products fanatico" *ngIf="showAll || showFanatic">
        <img src="/assets/images/0303.png" alt="" />
        <div id="desc">
          <p>Fanatico #/0303</p>
          <h2>SHELTON EPPLER</h2>
          <p>Reel - Oct 27 2022, Video Game Numbers (Series 4), DAL</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.58</span>
          </p>
        </div>
      </div>
      <div class="products legendario" *ngIf="showAll || showLegendary" >
        <img src="/assets/images/0404.png" alt="" />
        <div id="desc">
          <p>Legendario #/0404</p>
          <h2>CORAY WILLIAMS</h2>
          <p>Handles - Nov 23 2022, The Challenge: Icon (Series 4), LAL</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $10.00</span>
          </p>
          <p>
           Avg Sale <span>USD $11.75</span>
          </p>
        </div>
      </div>
      <div class="products raro" *ngIf="showAll || showRare" >
        <img src="/assets/images/0505.png" alt="" />
        <div id="desc">
          <p>Raro #/0505</p>
          <h2>ELDRIGE THOMPSON</h2>
          <p>Dunk - Nov 30 2022, The Challenge: Icon (Series 4), LAL</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $11.00</span>
          </p>
          <p>
           Avg Sale <span>USD $8.38</span>
          </p>
        </div>
      </div>
      <div class="products normal" *ngIf="showAll || showNormal" >
        <img src="/assets/images/0606.png" alt="" />
        <div id="desc">
          <p>Normal #/0606</p>
          <h2>BRIAN BURNETT JR</h2>
          <p>Layup - Nov 18 2022, Base Set (Series 4), Rippled, CHA</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.06</span>
          </p>
        </div>
      </div>
      <div class="products fanatico" *ngIf="showAll || showFanatic" >
        <img src="/assets/images/0707.png" alt="" />
        <div id="desc">
          <p>Fanatico #/0707</p>
          <h2>KOBE RODGERS</h2>
          <p>Assist - Oct 21 2021, Fresh Threads (Series 3), LAC</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.23</span>
          </p>
        </div>
      </div>
      <div class="products legendario" *ngIf="showAll || showLegendary">
        <img src="/assets/images/0808.png" alt="" />
        <div id="desc">
          <p>Legendario  #/0808</p>
          <h2>JORGE LUIS REVUELTO</h2>
          <p>Jump Shot - Jul 29 2022, For the Cup (Series 4), LVA</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.23</span>
          </p>
        </div>
      </div>
      <div class="products raro" *ngIf="showAll || showRare">
        <img src="/assets/images/0101.png" alt="" />
        <div id="desc">
          <p>Raro #/0101</p>
          <h2>LUIS TINOCO</h2>
          <p>Assist - Dec 07 2022, Base set (Series 4), Vortex, CHI</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $1.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.05</span>
          </p>
        </div>
      </div>
      <div class="products normal" *ngIf="showAll || showNormal">
        <img src="/assets/images/0202.png" alt="" />
        <div id="desc">
          <p>Normal #/0202</p>
          <h2>ISAIAH SOMBRITE</h2>
          <p>3 pointer - Jan 30 2021, Base Set (Series 2), POR</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.58</span>
          </p>
        </div>
      </div>
      <div class="products fanatico" *ngIf="showAll || showFanatic">
        <img src="/assets/images/0303.png" alt="" />
        <div id="desc">
          <p>Fanatico #/0303</p>
          <h2>SHELTON EPPLER</h2>
          <p>Reel - Oct 27 2022, Video Game Numbers (Series 4), DAL</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.58</span>
          </p>
        </div>
      </div>
      <div class="products legendario" *ngIf="showAll || showLegendary" >
        <img src="/assets/images/0404.png" alt="" />
        <div id="desc">
          <p>Legendario #/0404</p>
          <h2>CORAY WILLIAMS</h2>
          <p>Handles - Nov 23 2022, The Challenge: Icon (Series 4), LAL</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $10.00</span>
          </p>
          <p>
           Avg Sale <span>USD $11.75</span>
          </p>
        </div>
      </div>
      <div class="products raro" *ngIf="showAll || showRare" >
        <img src="/assets/images/0505.png" alt="" />
        <div id="desc">
          <p>Raro #/0505</p>
          <h2>ELDRIGE THOMPSON</h2>
          <p>Dunk - Nov 30 2022, The Challenge: Icon (Series 4), LAL</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $11.00</span>
          </p>
          <p>
           Avg Sale <span>USD $8.38</span>
          </p>
        </div>
      </div>
      <div class="products normal" *ngIf="showAll || showNormal" >
        <img src="/assets/images/0606.png" alt="" />
        <div id="desc">
          <p>Normal #/0606</p>
          <h2>BRIAN BURNETT JR</h2>
          <p>Layup - Nov 18 2022, Base Set (Series 4), Rippled, CHA</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.06</span>
          </p>
        </div>
      </div>
      <div class="products fanatico" *ngIf="showAll || showFanatic" >
        <img src="/assets/images/0707.png" alt="" />
        <div id="desc">
          <p>Fanatico #/0707</p>
          <h2>KOBE RODGERS</h2>
          <p>Assist - Oct 21 2021, Fresh Threads (Series 3), LAC</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.23</span>
          </p>
        </div>
      </div>
      <div class="products legendario" *ngIf="showAll || showLegendary">
        <img src="/assets/images/0808.png" alt="" />
        <div id="desc">
          <p>Legendario  #/0808</p>
          <h2>JORGE LUIS REVUELTO</h2>
          <p>Jump Shot - Jul 29 2022, For the Cup (Series 4), LVA</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.23</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section style="margin-top: 10%;">
    <h1 class="gradient-underline">MEJORES VENDIDOS</h1>
    <div id="seller">
      <div class="raro-1" id="best">
        <img src="assets/images/0101.png" alt="" />
        <div id="text">
          <p>Raro #/0101</p>
          <h2>LUIS TINOCO</h2>
          <p>Assist - Dec 07 2022, Base set (Series 4), Vortex, CHI</p>
          <p>
            Lowest Ask <span id="blank">USD $1.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.05</span>
          </p>
        </div>
      </div>
      <div class="normal-1" id="best">
        <img src="assets/images/0202.png" alt="" />
        <div id="text">
          <p>Común  #/0202</p>
          <h2>ISAIAH SOMBRITE</h2>
          <p>3 pointer - Jan 30 2021, Base Set (Series 2), POR</p>
          <p>
            Lowest Ask <span id="blank">USD $1.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.05</span>
          </p>
        </div>
      </div>
      <div class="fanatico-1" id="best">
        <img src="assets/images/0303.png" alt="" />
        <div id="text">
          <p>Legendario  #/0303</p>
          <h2>SHELTON EPPLER</h2>
          <p>Reel - Oct 27 2022, Video Game Numbers (Series 4), DAL</p>
          <p>
            Lowest Ask <span id="blank">USD $1.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.05</span>
          </p>
        </div>
      </div>
      <div class="legendario-1" id="best">
        <img src="assets/images/0404.png" alt="" />
        <div id="text">
          <p>Legendario  #/0404</p>
          <h2>CORAY WILLIAMS</h2>
          <p>Handles - Nov 23 2022, The Challenge: Icon (Series 4), LAL</p>
          <p>
            Lowest Ask <span id="blank">USD $10.00</span>
          </p>
          <p>
           Avg Sale <span>USD $11.75</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section style="margin-top: 10%;">
    <h1 class="gradient-underline">COMPRADO RECIENTEMENTE</h1>
    <div id="seller">
      <div class="raro-1" id="recent">
        <img src="assets/images/0505.png" alt="" />
        <div id="text2">
          <p>Raro #/0505</p>
          <h2>ELDRIGE THOMPSON</h2>
          <p>Dunk - Nov 30 2022, The Challenge: Icon (Series 4), LAL</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $11.00</span>
          </p>
          <p>
           Avg Sale <span>USD $8.38</span>
          </p>
        </div>
      </div>
      <div class="normal-1" id="recent">
        <img src="assets/images/0606.png" alt="" />
        <div id="text2">
          <p>Normal #/0606</p>
          <h2>BRIAN BURNETT JR</h2>
          <p>Layup - Nov 18 2022, Base Set (Series 4), Rippled, CHA</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.06</span>
          </p>
        </div>
      </div>
      <div class="fanatico-1" id="recent">
        <img src="assets/images/0707.png" alt="" />
        <div id="text2">
          <p>Fanatico #/0707</p>
          <h2>KOBE RODGERS</h2>
          <p>Assist - Oct 21 2021, Fresh Threads (Series 3), LAC</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.23</span>
          </p>
        </div>
      </div>
      <div class="legendario-1" id="recent">
        <img src="assets/images/0808.png" alt="" />
        <div id="text2">
          <p>Legendario  #/0808</p>
          <h2>JORGE LUIS REVUELTO</h2>
          <p>Jump Shot - Jul 29 2022, For the Cup (Series 4), LVA</p>
        </div>
        <div id="foot">
          <p>
            Lowest Ask <span id="blank">USD $2.00</span>
          </p>
          <p>
           Avg Sale <span>USD $1.23</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
