<div id="marketplace">
  <div id="pt1">
  <h2>EXPLORE THE MARKETPLACE</h2>
  <input type="text">
  </div>
  <div id="types">
    <p>TIPOS DE DROPS</p>
    <div id="drops">
      <div><img src="assets/images/azul.png" alt=""><p>Legendario</p><p>3.07%</p></div>
      <div><img src="assets/images/rojo.png" alt=""><p>Raro</p><p>9.74%</p></div>
      <div><img src="assets/images/amarillo.png" alt=""><p>Fanatico</p><p>25.64%</p></div>
      <div><img src="assets/images/morado.png" alt=""><p>Normal</p><p>61.53%</p></div>
    </div>
  </div>
  <div id="gallery">
    <button>Todos</button><button>Legendarios</button><button>Raros</button><button>Fanatico</button><button>Normal</button>
    <div id="dropslist">

    </div>
  </div>
</div>
