h1 {
    font-family: 'American-Captain';
    font-weight: 400;
    font-size: 10vw;
    color: white;
    margin: 0;
}

.startpage {
    height: 100vh;
    background-image: url('/assets/images/Inicio.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #0B0B0B;
}

.firsttitle {
    margin-top: 13%;
    float: right;
    width: 50%;
}

.firsttitle a {
    color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
}

#albumtext {
    margin-left: 3%;
}



/*SECOND SECTION*/
.description p {
    font-family: 'Poppins-Regular';
    color: white;
    font-size: 2vw;
    width: 60%;
}

.description {
    height: 70vh;
    background-image: url('/assets/images/secondsect.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: #0B0B0B;
    position: relative;
    background-position: right bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description::before,
.description::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-image: linear-gradient(to right, #ff0000 0%, #0B0B0B 25%, #0B0B0B 75%, #0FA852 100%);
}

.description::before {
    top: 0;
}

.description::after {
    bottom: 0;
}

.description img {
    height: 100%;
}

/*THIRD SECTION*/
.nftcollection {
    height: 100vh;
    background-color: #0B0B0B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 0.3s ease;
    /* Agrega una transición suave para la animación */
    overflow: hidden;
    /* Oculta el contenido que exceda la altura de la sección */
}

.nftcollection h2 {
    font-family: 'American-Captain';
    font-weight: 400;
    font-size: 5vw;
    color: white;
    margin: 0;
}

.collection1 {
    width: 80%;
    height: 70%;
    display: flex;
}

.one {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(255, 0, 0, 0.371), rgba(0, 0, 0, 0)100%);
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.two {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(13, 0, 255, 0.371), rgba(0, 0, 0, 0)100%);
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.three {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 255, 26, 0.371), rgba(0, 0, 0, 0)100%);
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.four {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(246, 255, 0, 0.371), rgba(0, 0, 0, 0)100%);
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.five {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(255, 0, 247, 0.371), rgba(0, 0, 0, 0)100%);
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.imgteam {
    width: 80%;
}

.nftcollection p {
    margin: 0;
}

.team {
    font-family: 'Poppins-Regular';
    font-size: 1.3vw;
}

.place {
    font-family: 'Poppins-Regular';
    font-size: 0.8vw;
}

.collection1 li {
    list-style-type: none;
}

.hidden-section {
    display: flex;
}

.movedown {
    margin-top: 20px;
    /* Ajusta el valor según sea necesario para el espaciado */
}

.nftcollection.expanded {
    height: 200vh;
    /* Establece la altura expandida de la sección */
}

.collection2 {
    width: 80%;
    height: 70%;
    display: flex;
}

/*FOURTH SECTION*/
.drops {
    height: 100vh;
    background-color: red;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.overview{
    background-color: white;
    width: 100%;
}
.overviewbox1 {
    background-color: blue;
    width: 50%;
}
.overviewbox2 {
    background-color: green;
    width: 50%;
}
.overviewbox3 {
    background-color: yellow;
    width: 50%;
}
.stockbox {
    background-color: blue;
    width: 50%;
}

.soldoutbox {
    background-color: blue;
    width: 50%;
}