<app-navbar></app-navbar>

<section class="startpage">
    <div class="firsttitle">
        <h1>COMPLETA TU</h1>
        <h1 id="albumtext">ALBUM DE NFT</h1>
        <a href="">ADQUIERE TU PRIMER NFT</a>
    </div>    
</section>
<section class="description">
    <p>
        LFA FAN es un marketplace de compra y venta de NFTs deportivos exclusivos de la LFA donde los usuarios podrán coleccionar los activos digitales mostrandolos en un álbum de su propio perfil, la adquisición puede ser dentro de drops o en marketplace comprándolo a otro usuario.
    </p>
</section>
<section class="nftcollection">
    <h2>NFT COLLECTIONS</h2>
    <div class="collection1">
        <div class="one">
            <img src="" alt="">
            <ul>
                <li>Galgos</li>
                <li>Tijuana</li>
            </ul>
        </div>
        <div class="two">x</div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
    </div>
</section>
<section class="drops">

</section>